// Colors
$header-bg: #F8EDAF;
$btn-bg: #25B86A;
$title-color: #6E7F7B;
$subtitle-color: #A6A28D;
$value-color: #637570;
$label-color: #9EABAD;
$input-color: #727F82;
$active-state-color: #33adff;
$white: #fff;

// Font-sizes
$value-size: 36px;
$btn-size: 20px;
$title-size: 14px;
$input-size: 13px;
$link-size: 12px;
$subtitle-size: 10px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$main-font: 'Montserrat', sans-serif;