@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$main-font: 'Lato', sans-serif;

$main-color: #00aed9;
$white: white;
$black: black;
$dark-grey: #3c3c3c;
$light-grey: #dddbdb;
$card-title-color: #282528;
$card-text-color: #646464;