$style: "car-info";
.#{$style} {
  padding: 50px 0;
  @media screen and (min-width: 576px) {
    padding: 105px 0 100px;
  }
  &__list {
    @include flex(flex-start, center, column);
    list-style: none;
    margin-bottom: 50px;
    padding: 0;
    @media screen and (min-width: 576px) {
      @include flex(space-between, stretch);
      margin-bottom: 100px;
    }
  }
  &__item {
    margin-bottom: 30px;
    @include flex(flex-start, center, column);
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 576px) {
      margin-bottom: 0;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__name {
    @include text($small-size-mobile, 400, $white);
    font-family: $sec-font;
    margin-bottom: 14px;
    @media screen and (min-width: 992px) {
      font-size: $small-size;
      margin-bottom: 20px;
    }
  }
  &__value {
    @include text($menu-size, 400, $white);
    margin-bottom: 10px;
    span {
      font-family: $sec-font;
      font-size: $small-size-mobile;
    }
    @media screen and (min-width: 992px) {
      font-size: $title-size;
      span {
        font-size: $small-size;
      }
    }
    &--speed {
      position: relative;
      &:after {
        content: "+";
        position: absolute;
        top: 0;
        right: 40px;
        font-family: $sec-font;
        @include text($small-size, 400, $white);
      }
    }
  }
  &__descr {
    @include text($small-size, 400, $light-red);
    font-family: $sec-font;
  }
  &__video-wrapper {
    width: 100%;
    iframe {
      width: 100%;
      height: 300px;
      @media screen and (min-width: 576px) {
        height: 400px;
      }
    }
  }
}
