* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
body {
  font-family: $main-font;
  background-color: $dark;
}
.tesla-button {
  @include flex(center, center);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid $white;
  height: 90px;
  padding: 0 62px;
  max-width: fit-content;
  @include text($small-size, 700, $white);
  font-family: $sec-font;
  @include transition(background-color);
  pointer-events: all;
  &:hover {
    background-color: $dark-red;
    text-decoration: none;
    color: $white;
  }
}
