$style: "menu";
.#{$style} {
  display: none;
  background-color: $black;
  position: fixed;
  @include z-index(popup);
  @include position();
  animation-duration: 0.4s;
  .uk-container {
    flex: 1;
    position: relative;
    @include flex(flex-start, center);
  }
  &__close-btn {
    @include size(30px);
    position: absolute;
    top: 30px;
    right: 15px;
    svg {
      @include svg(30px, $white);
    }
    @media screen and (min-width: 640px) {
      right: 30px;
    }
    @media screen and (min-width: 960px) {
      right: 40px;
    }
    @media screen and (min-width: 992px) {
      @include size(70px);
      svg {
        @include svg(70px, $white);
      }
      &:hover {
        svg {
          fill: darken($color: $white, $amount: 20%);
        }
      }
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    @include text($small-size, 700, $white);
    font-family: $sec-font;
    margin-bottom: 30px;
    padding-bottom: 24px;
    border-bottom: 3px solid $light-red;
    @media screen and (min-width: 576px) {
      font-size: $menu-size;
    }
    @media screen and (min-width: 576px) {
      @include transition(border-color);

      &:hover {
        border-bottom-color: $white;
      }
    }

    &--active {
      border-bottom-color: $white;
    }
  }
  &__link {
    color: inherit;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
