@mixin flex($jc: flex-start, $ai: flex-start, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}
@mixin text($size, $weight: 400, $color: #000000) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
