* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
body {
  font-family: $main-font;
}
ul {
  list-style: none;
}
main {
  padding: 25px 0 92px;
  min-height: 100vh;
  @include flex(center, center);
  background: $bg-color url('../img/bg@1X\ \(2\).png') no-repeat center;
  background-size: cover;
  position: relative;
  &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: url('../img/bg_t@1X.png') no-repeat center;
      background-size: cover;
      opacity: .2;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}
