@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Fonts 

$main-font: 'Roboto', sans-serif;

// Colors

$white: #fff;
$black: #000;
$violet-color: #5E4FFF;
$btn-color: #A200B8;
$bg-color: #8B57A4;
$badge-color: #FFA60D;
$grey-color: #7F7F7F;
$col-bg: #F4F4F4;

// Font-sizes

$small-size: 12px;
$title-size: 24px;
$medium-size: 22px;
$badge-size: 14px;
$radio-size: 15px;